.drop-cap-content .designer-letter{
  display: block;
  float: left;
  font-size: 60px;
  line-height: 1em;
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
.drop-cap-content .designer-text{
    margin:0;
}
.drop-cap-content{
  position: relative;
}
.drop-cap-letter-stroke-effect .designer-letter{
  color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
  text-shadow: none;
}
.drop-cap-letter-clip-effect .designer-letter{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}